<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= current_page.data.description || "Spécialisé dans la production des médias audiovisuels à destination des entreprises, des collectivités locales et milieu associatif (documentaires, teasers, films de communication, promotion web), je vous accompagne dans votre projet, de la conception à la livraison." %>">
    <meta name="author" content="Sébastien Morin, smo[at]secteur0.org">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Vincent Fribault - Technicien audiovisuel" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
    
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Angers",
          "addressRegion": "Maine-et-Loire",
          "postalCode": "49100",
          "streetAddress": "30 rue des Lices"
        },
        "email": "mailto:vincent.fribault@laposte.net",
        "image": "./images/VincentFribault.png",
        "jobTitle": "Photographe et technicien audiovisuel",
        "name": "Vincent Fribault",
        "telephone": "06 73 47 69 08",
        "url": "http://vincent-fribault.fr"
      }
    </script>
  </body>
</html>
